body {
    background-color: #222;
    font-size: 28px;
    color: #CCC;
    font-family: 'Lato', sans-serif;
}

canvas {
    display: none;
    margin: 20px auto;
}

sup {
    font-size: 20px;
}

#menu {
    background-color: #444;
    width: 1240px;
    height: 680px;
    display: block;
    margin: 20px auto;
    padding: 20px;
}

#menu-logo {
    display: block;
    margin: 0px auto;
}

#menu-title {
    display: block;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

.menu-button, .quit-button {
    padding: 20px;
    background-color: #111;
    width: 300px;
    display: block;
    margin: 20px auto;
    text-align: center; 
    cursor: pointer;
}

#mass-bar {
    position: absolute;
    width: 50px;
    height: 100px;
    bottom: 60px;
    left: 60px;
    background-color: #EEE;
    -webkit-transform: scale(1, 1); 
    -webkit-transform-origin: 100% 100%;
    -ms-transform: scale(1, 1);
    -ms-transform-origin: 100% 100%;
    -moz-transform: scale(1, 1);
    -moz-transform-origin: 100% 100%;
    transform: scale(1, 1);
    transform-origin: 100% 100%;
}

#mass-left {
    pointer-events: none;
    display: none;
    margin: 20px auto;
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
}

#mass-bar-inner {
    position: absolute;
    width: 60px;
    height: 110px;
    bottom: 55px;
    left: 55px;
    background-color: #333;
}

#mass-bar-outer {
    position: absolute;
    width: 70px;
    height: 120px;
    bottom: 50px;
    left: 50px;
    background-color: #EEE;
}

#mass-label {
    height: 20px;
    width: 70px;
    position: absolute;
    bottom: 25px;
    left: 50px;
    text-align: center;
}

#hud {
    display: none;
    margin: 20px auto;
    position: absolute;
    width: 1280px;
    height: 720px;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
}

#speed-needle {
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: 65px;
    right: 145px;
    background-color: #EEE;
    -webkit-transform: rotate(90deg); /* The rotate parameter is how many degrees it is clockwise from 0. */
    -webkit-transform-origin: 100% 100%;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: 100% 100%;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: 100% 100%;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}

#speedometer-inner {
    height: 65px;
    width: 130px;
    position: absolute;
    bottom: 55px;
    right: 80px;
    background-color: #333;
    -webkit-border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
}

#speedometer-outer {
    height: 80px;
    width: 150px;
    position: absolute;
    bottom: 50px;
    right: 70px;
    background-color: #EEE;
    -webkit-border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
}

#speed-label {
    height: 20px;
    width: 150px;
    position: absolute;
    bottom: 25px;
    right: 70px;
    text-align: center;
}

#fuel-bar {
    position: absolute;
    width: 50px;
    height: 100px;
    bottom: 60px;
    left: 60px;
    background-color: #EEE;
    -webkit-transform: scale(1, 0.6); /* The second parameter is the percentage of how full the bar is*/
    -webkit-transform-origin: 100% 100%;
    -ms-transform: scale(1, 0.6);
    -ms-transform-origin: 100% 100%;
    -moz-transform: scale(1, 0.6);
    -moz-transform-origin: 100% 100%;
    transform: scale(1, 0.6);
    transform-origin: 100% 100%;
}

#fuel-bar-inner {
    position: absolute;
    width: 60px;
    height: 110px;
    bottom: 55px;
    left: 55px;
    background-color: #333;
}

#fuel-bar-outer {
    position: absolute;
    width: 70px;
    height: 120px;
    bottom: 50px;
    left: 50px;
    background-color: #EEE;
}

#fuel-label {
    height: 20px;
    width: 70px;
    position: absolute;
    bottom: 25px;
    left: 50px;
    text-align: center;
}

#minimap {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25px;
    top: 25px;
    background-color: #111;
}

#minimap-ship {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 3px solid #111;
    border-right: 3px solid #111;
    border-bottom: 8px solid #CCC;
    background-color: #CCC;
    -webkit-transform: rotate(0deg); /* The rotate parameter is how many degrees it is clockwise from 0. */
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.minimap-planet {
    position: absolute;
    width: 5px; 
    height: 5px; 
    border-radius: 50%;
    background-color: #888;
}

#minimap-exit {
    position: absolute;
    width: 5px; 
    height: 5px; 
    background-color: #458B00;
}

#thrust-bar {
    position: absolute;
    width: 50px;
    height: 100px;
    bottom: 60px;
    left: 140px;
    background-color: #EEE;
    -webkit-transform: scale(1, 0.6);
    -webkit-transform-origin: 100% 100%;
    -ms-transform: scale(1, 0.6);
    -ms-transform-origin: 100% 100%;
    -moz-transform: scale(1, 0.6);
    -moz-transform-origin: 100% 100%;
    transform: scale(1, 0.6);
    transform-origin: 100% 100%;
}

#thrust-bar-inner {
    position: absolute;
    width: 60px;
    height: 110px;
    bottom: 55px;
    left: 135px;
    background-color: #333;
}

#thrust-bar-outer {
    position: absolute;
    width: 70px;
    height: 120px;
    bottom: 50px;
    left: 130px;
    background-color: #EEE;
}

#thrust-label {
    height: 20px;
    width: 70px;
    position: absolute;
    bottom: 25px;
    left: 130px;
    text-align: center;
}

#controls-menu {
    display: none;
    background-color: #444;
    width: 1240px;
    height: 680px;
    margin: 20px auto;
    padding: 20px;
}

#controls-container {
    display: block;
    margin: 20px auto;
    width: 700px;
}

.control {
    padding: 10px;
}

.control-key {
    float: left;
    padding: 10px;
    background-color: #333;
    width: 300px;
    text-align: right;
}

.control-description {
    float: right;
    padding: 10px;
    background-color: #333;
    width: 300px;
    text-align: left;
}

#options-menu {
    display: none;
    background-color: #444;
    width: 1240px;
    height: 680px;
    margin: 20px auto;
    padding: 20px;
}

#options-container {
    display: block;
    margin: 20px auto;
    width: 1200px;
}

.option {
    padding: 10px;
}

.option-name {
    float: left;
    padding: 10px;
    width: 250px;
    text-align: right;
}

.option-setting {
    float: left;
    padding: 10px 30px;
    width: 600px;
    text-align: center;
}

.option-value {
    float: left;
    padding: 10px;
    width: 150px;
    text-align: left;
}

#crashed-popup {
    background-color: #444;
    position: absolute;
    display: none;
    margin: 20px auto;
    width: 600px;
    height: 400px;
    padding: 20px;
    top: 150px;
    left: 0px;
    right: 0px;
}

#crashed-title {
    text-align: center;
    font-size: 36px;
    padding: 30px;
}

#finished-level-popup {
    background-color: #444;
    position: absolute;
    display: none;
    margin: 20px auto;
    width: 600px;
    height: 400px;
    padding: 20px;
    top: 150px;
    left: 0px;
    right: 0px;
}

#finished-level-title {
    text-align: center;
    font-size: 36px;
    padding-top: 24px;
}

.score {
    text-align: center;
    font-size: 24px;
    padding: 12px;
}

.total-score {
    text-align: center;
    font-size: 28px;
    padding: 8px;
}

#finished-game-popup {
    background-color: #444;
    position: absolute;
    display: none;
    margin: 20px auto;
    width: 600px;
    height: 280px;
    padding: 20px;
    top: 150px;
    left: 0px;
    right: 0px;
}

#finished-game-title {
    text-align: center;
    font-size: 36px;
    padding-top: 24px;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
